Local Pairing - Network Address / Peer Discovery

## Network Address / Peer Discovery

Revamp the preferred network discovery process

### Self IP address acquisition

1. Ask network interface for its preferred outbound IP address
    - The process currently relied on
    - ~~Add a required a self "confirmation" ping, to ensure the given address is network addressable.~~
      - ~~This code exists [see makeOutboundCheck()](#makeoutboundcheck)~~
      - This doesn't prove anything. Don't do this to "confirm" the IP address is network accessible.
    - On fail, fall through to stage 2
2. ~~device gets a list of its network addresses.~~
   - ~~Use `netIfaces, err := net.Interfaces()` [See snippet](#get-all-network-addresses)~~
   - ~~run filter for only local private net addrs~~
   - ~~open listener on 0.0.0.0~~
   - ~~make an outbound network call to all ips~~
      - ~~call should include the addressing ip so device knows which address is network addressable~~
   - ~~record all ip addresses that are able to ping the listener.~~
      - ~~hopefully the list will only ever contain 1 IP address~~
   - ~~On fail, fall through to stage 3~~
   - ^^^ This is a **NOT** a good idea! This will not prove anything, because the device IS a part of ALL these networks and so technically could self address via any of the networks.^^^
3. Attempt discovery via UDP multicast
    - The basic code for this functionality exists [see StartSearchForLocalPairingPeers()](#startsearchforlocalpairingpeers)
    - **Question :** How do **both** devices know when to start UPD discovery?
      - Perhaps the QR code device can add a UDP discovery search flag to the `ConnectionParams`
    - no guarantee that both devices get an IP address
      - [See UDP discovery failure mitigation](#udp-discovery-failure-mitigation)

## Refs

###### makeOutboundCheck()

https://github.com/status-im/status-go/blob/e620633eb745cffd54e16717ad5ac8c23e0550de/server/pairing/preflight/preflight.go#L86-L119

###### StartSearchForLocalPairingPeers()

https://github.com/status-im/status-go/blob/6cf0162877d3be58254efd1188c57b42a10e1403/mobile/status.go#L1029-L1042


###### UDP discovery failure mitigation

 - Both devices listen on a tcp port chosen by the network interface
 - Attempt UDP discovery
 - In the UDP packet include:
   - the device's listener port number
   - ensure the notifier's id is stored for later connections via tcp
 - When peer A discovers peer B, peer A pings peer B's "confirmation" listener with peer B's IP address and network info about peer A
 - peer B attempts an outbound **TLS** connection to its own "confirmation" server, with a random code, to confirm its own IP address.


###### Get all network addresses

```go
package test

import (
   "fmt"
   "net"
)

func AllNetworkAddresses() error {
   netIfaces, err := net.Interfaces()
   if err != nil {
      return err
   }

   for _, i := range netIfaces {
      addrs, err := i.Addrs()
      if err != nil {
         return err
      }

      for _, addr := range addrs {
         var ip net.IP
         switch v := addr.(type) {
         case *net.IPNet:
            ip = v.IP
         case *net.IPAddr:
            ip = v.IP
         default:
			 return fmt.Errorf("unknown ip type %s", v)
         }
         fmt.Print(ip)
      }
   }
   return nil
}
```

## Also See

- #3883

From yesterday talk with @Samyoul it seems if we want to keep the network solution, we have 2 ways now.

# 1. UDP discovery

The goal of procedure is: 
1. *either* server knows on which address client can find it → generate a QR code with server's IP address
2. *either* client knows server's IP address → server listens to `0.0.0.0`, no IP address needed in QR code

## Implementation details

- Both client and server devices starts UDP discovery
- When a server receives a discovery message from client:
    - Server knows on which NI `A`, on which the datagram was received 
    - Server takes the preferred IP address `B` of network interface `A` (we assume that this is the server's IP address that's reachable by the client)
    - Server starts a pairing server listening on IP address `B` (or `0.0.0.0`, doesn't really matter here)
    - Server generates a connection string with IP address `B`
    - ✅ Client scans the QR code and creates a connection by address from the QR code
- When a client receives a discovery message from server:
    - Client knows datagram's sender IP address `C`
    - Server starts a pairing server listening on `0.0.0.0`
    - Server generates a connection string without IP address, assuming that client already knows it from discovery
    - ✅ Client scans a QR code and creates a connection by address `C`

<details>
    <summary><b>🤔 Reasoning</b></summary>

Basic implementation would be:
- server sends multicast UDP datagrams
    - ❓ are we sure that multicast is sent on all network interfaces?
    - ❗ multicast address/port might be busy by other services
- client receives a discovery datagram
- ✅ client knows server's IP address 

Problems with basic implementation:
- server's firewall might block outgoing UDP
- client's firewall might block incoming UDP

Both cases can be covered like this:
- Client also sends UDP discovery datagrams
- When a server receives a message, it knows on which network interface the message was received 
- ✅ server knows it's IP address for the connection 
</details>

<details>
    <summary><b>👨‍💻 Code details</b></summary>

Receiving network interface can be found in `IfIndex` property of `ControlMessage`:
https://github.com/status-im/status-go/blob/dbb4369de1381e267019cb27c25775ec51c14991/vendor/golang.org/x/net/ipv4/control.go#L45-L47

It's returned from `ReadFrom` func:
https://github.com/status-im/status-go/blob/dbb4369de1381e267019cb27c25775ec51c14991/vendor/golang.org/x/net/ipv4/payload_cmsg.go#L20

Though it's ignored in [peerDiscovery](https://github.com/schollz/peerdiscovery) library, so we'll need to patch it:
https://github.com/status-im/status-go/blob/dbb4369de1381e267019cb27c25775ec51c14991/vendor/github.com/schollz/peerdiscovery/packetConn.go#L16
</details>

## Pros

- No need for "TCP confirmation connection"
- Covers most cases of UDP blocking

## Cons

- This solution implies UX changes, because server generates different QR codes.
We could workaround it with "TCP confirmation connection".
- Doesn't cover "Windows->Windows" case, when both devices can't send (or both devices can't receive) UDP datagrams.
- UDP is blocked for most VPN services, so it won't be possible to sync though VPN

# 2. Share all private IP addresses

Current problem is actually that we're poorly choosing a single IP address.
Instead we could take all private\* IP addresses and share all of them in the QR code.
Client then would know all server's addresses as well as all own IP addresses. Finding a reachable address should be easy 🙂

## Implementation details

We should use `IsPrivate` function (from `net` package) to filter IP addresses.
This is valid to do, because there's an `RFC 1918` for private networks. And I'd say it's only safe to pair though a private  network.

```go
// IsPrivate reports whether ip is a private address, according to
// RFC 1918 (IPv4 addresses) and RFC 4193 (IPv6 addresses).
func (ip IP) IsPrivate() bool {
	if ip4 := ip.To4(); ip4 != nil {
		// Following RFC 1918, Section 3. Private Address Space which says:
		//   The Internet Assigned Numbers Authority (IANA) has reserved the
		//   following three blocks of the IP address space for private internets:
		//     10.0.0.0        -   10.255.255.255  (10/8 prefix)
		//     172.16.0.0      -   172.31.255.255  (172.16/12 prefix)
		//     192.168.0.0     -   192.168.255.255 (192.168/16 prefix)
		return ip4[0] == 10 ||
			(ip4[0] == 172 && ip4[1]&0xf0 == 16) ||
			(ip4[0] == 192 && ip4[1] == 168)
	}
	// Following RFC 4193, Section 8. IANA Considerations which says:
	//   The IANA has assigned the FC00::/7 prefix to "Unique Local Unicast".
	return len(ip) == IPv6len && ip[0]&0xfe == 0xfc
}
``` 

## Pros

- This seems to be a 100% cases solution
- Simple to implement, as a small improvement to current solution
(though we should check if the algorithm of searching best reachable IP address is simple)

## Cons

- If a device has too many suitable network interfaces, QR code might become non-readably big
To mitigate this, we could show a sequence of QR codes with different IP addresses embedded. Client attempts to connect to all of them, and takes the first one that works.

Also, I still like the idea of pairing with "QR code video" 🎥 

We could transfer the information without network at all, just by encoding it into a sequence of QR codes.

## Pros

- User don't have to use a trusted network
- Will work despite user's network configuration. Will even work without any at all.

## Cons 

- User environment must be safe, QR code will contain unencoded sensitive information.
Can be mitigated by both-ways QR code scanning to share secret for encoding.
- The process might become longer
Syncing _messages_ (which we don't to now) will become impossible as inappropriately long.
- New solution, requires all UI tweaks and a much development work to be done
- Requires at least one of devices to have a camera


Great write up @igor-sirotin , thank you.

> (or `0.0.0.0`, doesn't really matter here)

I wasn't sure about this.

If you write a TLS cert for `0.0.0.0` and listen on `0.0.0.0`, the client will get a failure, see below:

```
2023/08/15 10:33:19 http: TLS handshake error from 192.168.0.14:54711: remote error: tls: bad certificate
    preflight_test.go:10: Get "https://192.168.0.14:54710/outbound_check": tls: failed to verify certificate: x509: certificate is valid for 0.0.0.0, not 192.168.0.14
```

But if you write a TLS cert for the IP address and listen on `0.0.0.0` you can make a successful connection

### 1 IP address
![adobe_express](https://github.com/status-im/status-go/assets/25482501/b014a1f7-819a-45d0-acc1-37d13cc5d7e0)

### 10 IP addresses
![adobe_express (1)](https://github.com/status-im/status-go/assets/25482501/4ecf4a5c-e85a-4500-9e5f-19f0a52eb95b)

### 20 IP addresses
![adobe_express (2)](https://github.com/status-im/status-go/assets/25482501/2d2fc650-4b82-4716-9d31-86a03e2c9719)


@Samyoul:
- Connection string v2, which includes array of `IPv4` and `IPv6` addresses
- update TLS certificate to include multiple IP addresses

@igor-sirotin:
- function that provides a list of IP addresses to be used for local pairing server
    - only take private addresses
    - prefer `IPv4` over `IPv6` for smaller payload
- function that takes a list of server's IP addresses and returns a single IP address to be used for client connection